.blue{
    background-color: blue;
}
 .red{
     background-color:red ;
    }
     .pink{
        background-color: pink;
     }
     h1{
        color: brown;
        font-family: 'Courier New', Courier, monospace;
     }
      body{
         background-color: bisque;
      }